@font-face {
    font-family: OswaldBold;
    src: url(/assets/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: OswaldExtraLight;
    src: url(/assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(/assets/fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: OswaldMedium;
    src: url(/assets/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: OswaldRegular;
    src: url(/assets/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OswaldSemiBold;
    src: url(/assets/fonts/Oswald-SemiBold.ttf);
}


body {
    margin: 0;
}
#preloader,
#intro {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen Mono', monospace;
    margin: 0;
}

#preloader .preload-title h1 {
    margin-bottom: 10px;
}

#preloader .preload-title #loadbar {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #ededed;
    height: 4px;
}

#preloader .preload-title #loadbar #inner-load {
    display: block;
    margin: 0 auto;
    width: 37%;
    background-color: #000;
    height: 4px;
}