@font-face {
    font-family: OswaldBold;
    src: url(/assets/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: OswaldExtraLight;
    src: url(/assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(/assets/fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: OswaldMedium;
    src: url(/assets/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: OswaldRegular;
    src: url(/assets/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OswaldSemiBold;
    src: url(/assets/fonts/Oswald-SemiBold.ttf);
}


body {
    margin: 0;
}
.container,
#intro {
    position: fixed;
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OswaldBold', sans-serif;
}

#intro {
    background-color: #fff;
}

#area {
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.item-container {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: transform 2s linear;
}

#baloon_1 {
    width: 100px;
    height: 100px;
    float: left;
    display: block;
    transition: transform 0.25s linear;
}

.bulle {
    border-radius: 100%;
    background-color: tomato;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.27, -0.95, 0.64, 1.95);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    visibility: hidden;
}

.bulle:hover {
    transform: scale(1.5);
}